@media screen and (max-width: 1200px) {
    #background-2 img{
         height: 280px;
    }
    #info{
        padding:  60px 10%;
    }
    .background-end div {
       width: 33%;
    }
    #end input{
        height: 45px;
    }
 
    #contact div{
        font-size:20px ;
        padding:15px 0;
    }
    #contact div:hover{
        font-size:21px ; 
    }
    .logo{
        margin-right: 20%;
        margin-left: 3%;
      }
}    
@media screen and (max-width: 1050px ) {
    #background{
        width: 100%;
        overflow: hidden;
    }

    #background  img {
       width: 200%;
    }
    .logo{
        margin-right: 10%;
        margin-left: 3%;
      }
}

@media screen and (max-width: 975px) {
    .submenu a:not(:first-child) {display: none;}
    .submenu a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 975px) {
    .submenu.responsive {position: relative;}
    .submenu.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .submenu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  @media screen and (max-width: 975px) {
       .submenu a{
          color:white;
          margin: 0 3%;
       }
       .submenu a:hover{
          background-color: aqua;
          color:black;
       }
     #menu{
        background-color: rgba(0, 0, 0, 0.466);
        position: none;
       }
    #info img{
        float:right;
        height: 80%;
    }
    .info-sub-hidden{
        overflow: hidden;
        max-height: 43px;
    }
    #end img{
        height: 300px;
    }
    #end div{
        margin:0 5px;
    }
    #ourmenu-img-1,#ourmenu-img-2{
        padding: 0 5%;
    }
    #book,#ourmenu,#event,#member{
        margin: 0 20%;
        padding-top: 10px;
    }
}
@media screen and (max-width: 750px) {
    #contact {
        display: block;
    }
    #contact div{
        width: 100%;
    }
    #info{
        padding: 60px 10%;
    }
    .background-1{
        font-size: 20px;
    }
    .info-sub{
        width: 100%;
        padding:0;
    }
    .background-1 a{
        font-size: 18px;
    }
    #info img{
        display: none;
    }
    #specical-menu img{
        width: 95%;
        border: 4px solid rgba(65, 17, 17, 0.184);   
    }
    #specical-menu{
        display: block;
        text-align: center;
    }
    #specical-menu span{
        margin-bottom: 30px;
        margin-top: 0;
    }
    #specical-sub,#book,#ourmenu,#event,#member{
        margin: 0 20%;
    }
    #ourmenu-img-1,#ourmenu-img-2{
        display: block;
        text-align: center;
    }
    #ourmenu-main img {
        width: 60%;
    }
    #member-info{
        display: block;
    }
    #member-info img {
        width: 35%;
    }
    #member-info > div{
        padding: 5%;
    }
    #book-text div{
        display: block;
        width: 80%;
        margin: 0 10%;
    }
    #end div{
      display: table;
      margin: 10px;
      padding:0;
      width: 90%;

    }
    .contact-end{
      visibility: hidden;
    }
    #end{
        overflow: hidden;   
    }
    #end img{
        height: 350px;
    }
   
} 
@media screen and (max-width:500px) {
    .background-1 h2{
    font-size: 28px;
    }
    .background-1 h1{
        font-size:38px;
    }
    .background-1{
        width: 80%; 
    }
    #background  img {
        height: 430px;
     }

}
@media screen and (max-width:400px) {
    #specical-sub,#book,#ourmenu,#event,#member,.background-2-sub{
        margin: 0 ;
        padding: 0 5%;
        font-size: 16px;
        width: 90%;
        margin-bottom: 50px;
        
    }
    h3{
        font-size: 26px;
    }
}